*
{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
}

.container
{
    display:grid;
    height:100vh;
    width:100vw;
    background-color: rgb(87, 85, 85);
   
}

.box
{   
    margin:10px;
    background-color: rgb(186, 226, 43);
}


.one,.two,.six
{
    background-color:rgb(32, 194, 32)
   
}
.three,.five,.seven
{
    background-color:palevioletred;
} 
/* to make a responsive grid */

@media (min-width:500px)
{

    .container
{
    display:grid;
    height:100vh;
    width:100vw;
    background-color: rgb(87, 85, 85);
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
}
    .one
{
    grid-row:1/4;
}
.two{
    grid-column:2/4;
}
.six{
     grid-row:-3/-1;
      grid-column:4/5;
}

}